<div id="graphy">
    <h1>Budget voor deze week</h1>
    <ol>
        <li>
            <div class="graph">
                <div class="graph__y" data-min="0" data-max="50" data-step="10">
                </div>
                <div class="graph__x">
                    <div>
                        MA <br>
                        23
                    </div>
                    <div class="payday">
                        DI <br>
                        24
                    </div>
                    <div>
                        WOE <br>
                        25
                    </div>
                    <div>
                        DO <br>
                        26
                    </div>
                    <div>
                        VR <br>
                        27
                    </div>
                    <div>
                        ZA <br>
                        28
                    </div>
                    <div>
                        ZO <br>
                        29
                    </div>
                </div>
                <div class="graph__bars">
                </div>
            </div>
        </li>
    </ol>
    <span>23-05-19 / 29-05-19</span>
</div>