<div id="spendable">
    <section>
        <span>Volgende Uitbetaling</span>
        <h1>
            <span class="date">24 Mei</span>
            <span class="amount">(€1033)</span>
        </h1>
    </section>
    <section>
        <span>Nog te besteden</span>
        <div class="spendables">
            <div class="spendable">
                <div class="spendable__ball">
                    <div class="ball__progress"></div>
                    <span class="ball__amount">€1033</span>
                </div>
                <span class="spendable__desc">
                    Deze week
                </span>
            </div>
            <div class="spendable">
                <div class="spendable__ball">
                    <div class="ball__progress"></div>
                    <span class="ball__amount">€1033</span>
                </div>
                <span class="spendable__desc">
                    Deze maand
                </span>
                <span class="spendable__float">
                    23 Mei
                </span>
            </div>
        </div>
    </section>
</div>